@import "../../css/variable"
@import "../../css/general"

.pt__admin
    padding-top: 30px
    .pt__lr_item    
        background-color: #007BFF
    .time_btn
        padding: 15px 30px
        border-radius: 5px
        font-weight: 600
    .pt__lr_num
        background-color: #FFAD33
        display: inline-block
    .form_control_wrapper
        display: flex
        flex-direction: column
        label
            margin-bottom: 10px
            color: #000
            font-weight: 600
        input,select
            border: 2px solid #1E2330
            height: 50px
            border-radius: 5px
            font-size: 18px
            padding: 10px 15px
            &:focus
                background-color: #1E2330
                color: $white